name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - 'master'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-build-stable-${{ hashFiles('**/Cargo.toml') }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install dev packages
        run: |
          sudo apt-get update;
          sudo apt-get install --no-install-recommends \
            libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
        if: runner.os == 'linux'

      - name: Build & run tests
        run: cargo test --all-features

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-build-stable-${{ hashFiles('**/Cargo.toml') }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Install dev packages
        run: |
          sudo apt-get update;
          sudo apt-get install --no-install-recommends \
            libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
        if: runner.os == 'linux'

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Check format
        run: cargo fmt --all -- --check
