name: Publish

permissions:
  contents: read

on:
  push:
    tags:
      - '*'
  workflow_dispatch:


jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install dev packages
        run: |
          sudo apt-get update;
          sudo apt-get install --no-install-recommends \
            libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev

      - name: Build & run tests
        run: cargo test --all-features

      - name: Build docs
        run: cargo doc --all-features

      - name: Check format
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - run: cargo publish --all-features --token ${CRATES_TOKEN}
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
